<form id="sisowafterpay_payment" class="form-horizontal">
	<fieldset>
		<legend>
			<img src="catalog/view/theme/default/image/afterpay.png" alt="Afterpay" title="Afterpay" /><br/>
			<?php echo $text_description; ?>
		</legend>
		
		<div class="form-group required">
			<label class="col-sm-2 control-label" for="gender">Aanhef</label>
			<div class="col-sm-10">
				<select name="sisowgender" id="gender" class="form-control">
					<option value="">Kies aanhef</option>
					<option value="M">De heer</option>
					<option value="F">Mevrouw</option>
				</select>
			</div>
		</div>
		
		<div class="form-group required">
			<label class="col-sm-2 control-label" for="sisowphone">Telefoonnummer</label>
			<div class="col-sm-10">
				<input type="text" id="sisowphone" name="sisowphone" class="form-control" maxlength="12" value="" />
			</div>
		</div>
		
		<div class="form-group required">
			<label class="col-sm-2 control-label" for="sisowday">Geboortedatum</label>
			<div class="col-sm-10">
				<div class="col-sm-3" style="padding-left: 0px;">
					<select id="sisowday" name="sisowday" class="form-control">
						<option value="">Dag</option>
						{% for i in 1..31 %}
							<option value="{{ "%02d"|format(i) }}">{{ "%02d"|format(i) }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-3">
					<select id="sisowmonth" name="sisowmonth" class="form-control">
						<option value="">Maand</option>
						{% for i in 1..12 %}
							<option value="{{ "%02d"|format(i) }}">{{ "%02d"|format(i) }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-3">
					<select id="sisowyear" name="sisowyear" class="form-control">
						<option value="">Jaar</option>
						{% for i in 'now'|date('Y')-17..'now'|date('Y')-115 %}
							<option value="{{ "%02d"|format(i) }}">{{ "%02d"|format(i) }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
				
		<?php echo $text_paymentfee; ?>
	<fieldset>
</form>
	
<div class="row">
	<div class="pull-right">
		<a target="_blank" href="https://www.buckaroo.nl"><img src="catalog/view/theme/default/image/payment/buckarooklein.png" alt="Buckaroo" height="25px"/></a>
	</div>
</div>
<div class="buttons pull-right">
	<input type="button" value="{{ button_confirm }}" id="sisowafterpay_confirm" class="btn btn-primary" />
</div>
<script type="text/javascript"><!--
	$('#sisowafterpay_confirm').on('click', function() {
		$.ajax({ 
			type: 'POST',
			url: 'index.php?route=extension/payment/sisowafterpay/redirectbank',
			data: $('#sisowafterpay_payment :input'),
			dataType: 'json',
			cache: false,
			beforeSend: function() {
				$('#sisowafterpay_confirm').button('loading');
			},
			complete: function() {
				$('#sisowafterpay_confirm').button('reset');
			},		
			success: function(json) {
				if (json['error']) {
					alert(json['error']);
				}
				
				if (json['redirect']) {
					location = json['redirect'];
				}
			}		
		});
	});
	//-->
</script>

